@{
    ViewBag.Title = "db_WorkShopSet";
}

<table id="db">
    <tr>
        <td>id</td>
        <td>name</td>
        <td>created</td>
        <td>creatorID</td>
        <td>archived</td>
        <td>archiverID</td>
        <td>modified</td>
        <td>modifierID</td>
        <td>isActived</td>
    </tr>

    <tr>
        <td>1</td>
        <td>test</td>
        <td>2012/5/17 10:27:19</td>
        <td>1834</td>
        <td>2012/5/21 17:56:57</td>
        <td>1337</td>
        <td>2012/5/18 12:46:32</td>
        <td>1337</td>
        <td></td>
    </tr>

    <tr>
        <td>2</td>
        <td>Intensive Academic English Program JULY 2012</td>
        <td>2012/5/18 12:46:42</td>
        <td>1337</td>
        <td>2013/4/15 16:52:24</td>
        <td>1337</td>
        <td>2012/7/23 12:50:43</td>
        <td>1337</td>
        <td></td>
    </tr>

    <tr>
        <td>3</td>
        <td>Study + Reading Skills</td>
        <td>2012/7/19 15:12:16</td>
        <td>1337</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>

    <tr>
        <td>4</td>
        <td>Writing Skills</td>
        <td>2012/7/19 15:17:45</td>
        <td>1337</td>
        <td></td>
        <td></td>
        <td>2013/4/22 15:39:13</td>
        <td>2560</td>
        <td></td>
    </tr>

    <tr>
        <td>5</td>
        <td>Presentation + Speaking Skills</td>
        <td>2012/7/19 15:17:55</td>
        <td>1337</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>

    <tr>
        <td>6</td>
        <td>WriteNow! Writing Support sessions</td>
        <td>2012/7/19 15:18:16</td>
        <td>1337</td>
        <td></td>
        <td></td>
        <td>2014/2/12 14:07:30</td>
        <td>2186</td>
        <td></td>
    </tr>

    <tr>
        <td>7</td>
        <td>Conversations@@ UTS</td>
        <td>2012/7/27 10:08:19</td>
        <td>1337</td>
        <td>2012/7/27 10:42:24</td>
        <td>1337</td>
        <td></td>
        <td></td>
        <td></td>
    </tr>

    <tr>
        <td>8</td>
        <td>Conversations@UTS</td>
        <td>2012/12/12 15:34:42</td>
        <td>1337</td>
        <td></td>
        <td></td>
        <td>2014/5/12 10:42:09</td>
        <td>2186</td>
        <td></td>
    </tr>

    <tr>
        <td>9</td>
        <td>Intensive Academic English programs July 2013 - CLOSED</td>
        <td>2013/5/8 12:09:07</td>
        <td>1337</td>
        <td>2013/8/5 9:56:20</td>
        <td>1337</td>
        <td>2013/6/11 13:19:24</td>
        <td>2186</td>
        <td></td>
    </tr>

    <tr>
        <td>10</td>
        <td>U:PASSwrite for MPO students ONLY</td>
        <td>2013/7/23 15:28:00</td>
        <td>1337</td>
        <td>2014/2/12 14:08:13</td>
        <td>2186</td>
        <td></td>
        <td></td>
        <td></td>
    </tr>

    <tr>
        <td>11</td>
        <td>U:PASSwrite for KG nursing students in the Accelerated Nursing Program</td>
        <td>2013/7/23 15:41:36</td>
        <td>1337</td>
        <td>2013/9/6 10:47:44</td>
        <td>1337</td>
        <td>2013/8/2 14:48:18</td>
        <td>1614</td>
        <td></td>
    </tr>

    <tr>
        <td>12</td>
        <td>2nd Yr Nursing students: IELTS information session</td>
        <td>2013/9/12 9:51:49</td>
        <td>1337</td>
        <td>2014/2/12 14:08:14</td>
        <td>2186</td>
        <td></td>
        <td></td>
        <td></td>
    </tr>

    <tr>
        <td>13</td>
        <td>U:PASSwrite for 21129 Managing People & Organisation</td>
        <td>2014/2/19 14:05:28</td>
        <td>2186</td>
        <td></td>
        <td></td>
        <td>2015/7/27 9:48:16</td>
        <td>1614</td>
        <td></td>
    </tr>

    <tr>
        <td>14</td>
        <td>U:PASSwrite for 48122 Engineering Practice Review 1</td>
        <td>2014/2/19 14:38:57</td>
        <td>2186</td>
        <td></td>
        <td></td>
        <td>2015/7/27 9:48:16</td>
        <td>1614</td>
        <td></td>
    </tr>

    <tr>
        <td>15</td>
        <td>U:PASSwrite for 31265 Communication for IT Professionals</td>
        <td>2014/2/19 15:34:15</td>
        <td>2186</td>
        <td></td>
        <td></td>
        <td>2015/7/27 9:48:16</td>
        <td>1614</td>
        <td></td>
    </tr>

    <tr>
        <td>16</td>
        <td>U:PASSwrite for First Year Nursing students ONLY</td>
        <td>2014/2/19 16:03:22</td>
        <td>2186</td>
        <td></td>
        <td></td>
        <td>2015/2/10 10:35:26</td>
        <td>2186</td>
        <td></td>
    </tr>

    <tr>
        <td>17</td>
        <td>HELPS Volunteer information session</td>
        <td>2014/6/13 10:39:44</td>
        <td>2560</td>
        <td>2014/8/8 11:40:37</td>
        <td>2560</td>
        <td></td>
        <td></td>
        <td></td>
    </tr>

    <tr>
        <td>18</td>
        <td>HELPSMates Buddy program information sessions</td>
        <td>2014/6/13 10:41:22</td>
        <td>2560</td>
        <td>2015/3/9 13:14:29</td>
        <td>2560</td>
        <td>2015/2/13 16:07:15</td>
        <td>2560</td>
        <td></td>
    </tr>

    <tr>
        <td>19</td>
        <td>2014 Intensive Academic English program</td>
        <td>2014/6/17 10:24:21</td>
        <td>2186</td>
        <td>2014/7/31 11:02:52</td>
        <td>2560</td>
        <td></td>
        <td></td>
        <td></td>
    </tr>

    <tr>
        <td>20</td>
        <td>First year nursing students ONLY - Assignment writing workshop</td>
        <td>2015/3/9 12:22:08</td>
        <td>2560</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>

    <tr>
        <td>21</td>
        <td>2015 Intensive Academic English program (COMPLETED)</td>
        <td>2015/7/8 10:10:33</td>
        <td>2186</td>
        <td></td>
        <td></td>
        <td>2015/7/20 14:39:17</td>
        <td>2560</td>
        <td></td>
    </tr>

</table>
