@{
    ViewBag.Title = "Index";
}

<div class="container">
    <div id="loginbox" style="margin-top:50px;" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
        <div class="panel panel-info">
            <div class="panel-heading">
                <div class="panel-title">Log In</div>
            </div>
            <div style="padding-top:30px" class="panel-body">
                <form method="post" action="v_newsession.asp">
                    <div class="form-group">
                        <label for="validate-number">Student ID: </label>
                        <div class="input-group" data-validate="number">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                            <input type="text" class="form-control" name="validate-number" id="validate-number" placeholder="Number Only" required>
                            <span class="input-group-addon danger"><span class="glyphicon glyphicon-asterisk"></span></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="validate-text">Password: </label>
                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                            <input type="password" class="form-control" name="validate-text" id="validate-text" placeholder="Required" required>
                            <span class="input-group-addon danger"><span class="glyphicon glyphicon-asterisk"></span></span>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary sizeFull" disabled>Submit</button>
                    <a class="btn btn-warning sizeFull mtl" href="signup.asp">Sign UP</a>
                    <a class="btn btn-info sizeFull mtl" href="v_newsession.asp">Temporary Links</a>
                </form>
            </div>
        </div>
    </div>
</div>