@{
    ViewBag.Title = "RepeatList";
}

<h2>RepeatList</h2>
<h3>Before</h3>
<ul class="list-group">
    <li class="list-group-item"><a title="Academic Writing">Academic Writing</a></li>
    <li class="list-group-item"><a title="Academic Writing">Academic Writing</a></li>
    <li class="list-group-item"><a title="Oral Presentation">Oral Presentation</a></li>
    <li class="list-group-item"><a title="Oral Presentation">Oral Presentation</a></li>
</ul>

<h3>After</h3>
<ul class="list-group">
    <li class="list-group-item"><a title="Academic Writing">Academic Writing</a></li>
    <li class="list-group-item"><a title="Oral Presentation">Oral Presentation</a></li>
</ul>